<h2>Welcome {{user.name}}</h2>                                             <a href="/">Logout</a></p>



  <table>
  <thead>
     <tr>
      <th>Task Title</th>
      <th>TaskDescription</th>
      <th>Task Location</th>
      <th>Task Details</th>
      <th>Request Date</th>
      <th>In Work</th>
      <th>completed</th>
      <th>To be Deleted</th>
    </tr>
  </thead>
<tbody>
  <tr ng-repeat="task in tasks">
      <td ng-bind="task.title"></td>
      <td ng-bind="task.description"></td>
      <td ng-bind="task.location"></td>
      <td ng-bind = "task.detail"</td>
      <td ng-bind="task.createdAt"</td>
      <td><input type="checkbox" id="mycheck" value=""></td>
      <td><input type="checkbox" id="mycheck" value=""></td>
      <td><input type="checkbox" id="mycheck" value=""></td>
      
    </tr>
</tbody>
</table>
